/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background: url('Space-Background-Images.jpg') no-repeat center center/cover;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

/* .logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
} */

.navigation a {
    position : relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 500;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #fff;
    border-radius: 5px; 
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: all 0.3s ease;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.container {
    width: 85%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(36, 36, 36, .5);
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height: 75vh;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(36, 36, 36, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s, height 0.2s ease;
    margin-top: 50px; 
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 0 20px 0 20px;
}

.container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.search-filter {
    display: flex;
    width: 35%;
    margin: auto;
    position: relative;
    bottom: 11.5rem;

}

input, textarea, select {
    width: 50%;
    padding: 0 35px 0 5px;
    border: 1px solid #ccc;
    font-size: 0.7rem;
    background: transparent;
    color: #fff;
    font-weight: 500;
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 22rem;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    font-weight: 500;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -5px;
    left: 5px;
    color: #fff;
    font-size: 0.8em;
}

.input-box input {
    width : 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px; 
}

.input-box .icon {
    position: absolute;
    right : 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    justify-content: space-between;
    display: flex;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6%;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.error {
    color: #ff4c4c;
    font-size: 0.875rem;
    display: none;
    margin-top: 0.625rem;
}

.success {
    color: #00ff00;
    font-size: 0.875rem;
    display: none;
    margin-top: 0.625rem;
}

/* Ajoutez cette section à la fin de votre fichier CSS */

/* Styles pour les écrans de taille inférieure à 768px (tablettes et mobiles) */
@media (max-width: 768px) {
    header {
        padding: 10px 20px; /* Réduire le padding du header */
    }

    .navigation a {
        margin-left: 20px; /* Réduire l'espacement entre les liens de navigation */
        font-size: 1em; /* Réduire la taille de la police des liens de navigation */
    }

    .navigation .btnLogin-popup {
        width: 100px; /* Réduire la largeur du bouton de connexion */
        height: 40px; /* Réduire la hauteur du bouton de connexion */
        font-size: 1em; /* Réduire la taille de la police du bouton de connexion */
        margin-left: 20px; /* Réduire l'espacement entre le bouton de connexion et les liens de navigation */
    }
}

/* Styles pour les écrans de taille inférieure à 480px (mobiles) */
@media (max-width: 480px) {
    header {
        padding: 20px 5px; /* Réduire encore plus le padding du header */
    }

    .navigation a {
        margin-left: 10px; /* Réduire encore plus l'espacement entre les liens de navigation */
        font-size: 0.9em; /* Réduire encore plus la taille de la police des liens de navigation */
    }

    .navigation .btnLogin-popup {
        width: 80px; /* Réduire encore plus la largeur du bouton de connexion */
        height: 35px; /* Réduire encore plus la hauteur du bouton de connexion */
        font-size: 0.9em; /* Réduire encore plus la taille de la police du bouton de connexion */
        margin-left: 10px; /* Réduire encore plus l'espacement entre le bouton de connexion et les liens de navigation */
    }

    .wrapper {
        margin-top: -50px; 
    }
}